$timeline-breakpoint: 992px;
#experience {
    background-color: var(--background-color-2);
    $timeline-padding-top-bottom: 20px;
    $timeline-line-width: 2px;
    $content-timeline-distance: 50px;
    $content-padding: 20px;

    .timeline {
        width: 100%;
        border-right: $timeline-line-width solid var(--text-color);
        padding-top: $timeline-padding-top-bottom;
        padding-bottom: $timeline-padding-top-bottom;
        position: relative;

        .experience-item {
            margin-right: $content-timeline-distance;
            margin-bottom: $content-padding;
            position: relative;
            padding: 1em;
            text-align: justify;
            border-radius: 10px;
            background-color: var(--background-color);
            color: var(--text-color);
        }
        $time-arrow-distance: clamp(20px, 10%, 100px);
        $arrow-width: 10px;
        $arrow-length: 10px;
        $box-to-box-distance: (2 * $content-timeline-distance + $timeline-line-width);
        .experience-item::before {
            content: "";
            font-size: 0;
            border-top: $arrow-width solid transparent;
            border-bottom: $arrow-width solid transparent;
            border-left: $arrow-length solid var(--background-color);
            position: absolute;
            right: 0;
            top: $time-arrow-distance;
            transform: translateX(95%);
        }
        .experience-item::after {
            content: "";
            position: absolute;
            right: -$content-timeline-distance;
            top: $time-arrow-distance;
            transform: translate(
                calc(50% + $timeline-line-width / 2),
                calc(50% + $arrow-width / 2)
            );
            background-color: var(--text-color);
            width: 20px;
            height: 3px;
        }

        .content-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center  ;
            img{
                height: 1.5em;
                border-radius: 3px;
            }
            div{
                color: var(--text-color-dim);
            }
        }
        @media (min-width: $timeline-breakpoint) {
            width: 50%;
            .experience-item:nth-of-type(2n) {
                transform: scaleX(-1) translateX(calc(-100% - $box-to-box-distance));
                & > .content-box{
                    transform: scaleX(-1);
                }
            }
        }



        .arrow-head {
            $arrow-width: 10px;
            $arrow-length: 20px;
            position: absolute;
            right: 0;
            transform: translate(
                calc(50% + $timeline-line-width/2),
                $timeline-padding-top-bottom
            );

            width: 0;
            height: 0;
            border-left: $arrow-width solid transparent;
            border-right: $arrow-width solid transparent;
            border-top: $arrow-length solid var(--text-color);
        }
    }
}
