#experience {
    background-color: var(--background-color);

    .experience-icon {
        font-size: 300%;
        margin-top: 25%;
        text-align: center;
    }

    .main-badge {
        font-size: 13px !important;
        text-align: left !important;
        padding: 5px 8px 5px 8px !important;
        vertical-align: baseline;
        background-color: #ae944f !important;
        color: var(--text-color);
        font-weight: lighter !important;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .experience-badge {
        font-size: 14px;
        text-align: left;
        padding: 5px 8px 5px 8px !important;
        vertical-align: baseline;
        background-color: var(--background-color);
        color: var(--text-color);
        font-weight: lighter !important;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .vertical-timeline-element-date {
        padding: 0 !important;
        margin: 0 !important;
    }

    @media only screen and (max-width: 1170px) {
        .experience-icon {
            font-size: 170%;
            margin-top: 27%;
            text-align: center;
        }
    }
}
