#home {
    // background-color: var(--background-color);
    background-color: transparent;

    position: relative;
    height: 520px;
    min-height: 450px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    text-align: center;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 0;

    .aligner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .title-container {
        height: 50px;
    }

    .title-styles {
        font-family: "Raleway", sans-serif;
        font-size: 250%;
    }
    .header-icon {
        height: 150px;
        width: 150px;
        color: var(--text-color);
    }

    .language-icon {
        font-size: 50px;
        cursor: pointer;
        margin: auto 10px;
    }

    .language-container {
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1;
    }
    .language {
        position: sticky;
        top: 20px;
        font-size: 25px;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 400%;
        text-align: center;
        font-weight: 600 !important;
        color: var(--text-color);
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        margin: 0 auto 18px auto;
        width: 100%;
    }
    .react-switch {
        position: sticky;
        top: 10px;
    }
    .react-switch-bg {
        background-color: var(--background-color-2);
    }
    .checked-icon,
    .unchecked-icon {
        display: block;
        height: 100%;
        font-size: 25px;
        text-align: end;
        margin-left: 10px;
    }
    .unchecked-icon {
        margin-left: 20px;
    }
}
