#home {
    // background-color: var(--background-color);
    background-color: transparent;

    position: relative;
    height: 520px;
    min-height: 450px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: clamp(20px, 10vh, 150px);
    padding-bottom: 0;

    .aligner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .title-styles {
        font-family: "Raleway", sans-serif;
        font-size: 150%;
    }
    .header-icon {
        height: 150px;
        width: 150px;
        color: var(--text-color);
    } 

    h2 {
        font-size: 250%;
        text-align: center;
        font-weight: 600 !important;
        color: var(--text-color);
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        // margin: 0 auto 18px auto;
        padding-top: 2%;
        padding-bottom: 1%;
        width: 100%;
    }
}

// draw background of #home div to make sure it's not white when the animation is refreshing
#home::before{
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: -1;
}