#projects {
    background-color: var(--background-color-2);
    padding-bottom: 5%;
    // padding-left: var(--sidebar-width);

    .project {
        margin-bottom: 1.2em;
        .description {
            text-align: justify;
        }
        .image-container {
            width: 60%;
            display: block;
            // scale: 0.9;
            // transform: translateY(-10%);
            // width: 100%;
            .laptop {
                float: left;
                // position: relative;
                width: 100%;
                margin-top: -6px;
                margin-right: 15px;
            }
            .screen {
                float: left;
                aspect-ratio: 8/5;
                width: calc(100% * 0.696);
                margin-left: calc((100% - 69.6%) / 2 - 1px);
                border: 10px solid #474747;
                border-radius: 8px;
                margin-right: 15px;
                transition: transform 0.5s;
            }
            .screen:hover {
                // zoom: 2;
                cursor: pointer;
                transform: scale(2);
                transform-origin: 50% 50%;
            }
        }
    }

    // should be:
    //      @media (min-width: var(--bs-breakpoint-md)) {
    //      -> doesn't work because --bs-breakpoint-md attached to :root,
    //      while media query isn't
    @media (min-width: 768) {
        .project:nth-of-type(3) {
            margin: 15px 25% !important;
        }
    }
}
