#projects {
    background-color: var(--background-color-2);
    padding-bottom: 5%;
    // padding-left: var(--sidebar-width);

    .project {
        margin-bottom: 2em;
        .description {
            font-size: 1.6em;
            // overflow: scroll;
            text-align: justify;
        }
        .image-container {
            width: 60%;
            // scale: 0.9;
            // transform: translateY(-10%);
            // width: 100%;
            .laptop {
                float: left;
                // position: relative;
                width: 100%;
                margin-top: -3px;
                margin-right: 15px;
                // bottom: 0;
                // z-index: 2;
            }
            .screen {
                float: left;
                aspect-ratio: 8/5;
                width: calc(100% * 0.696);
                margin-left: calc((100% - 69.6%) / 2 - 1px);
                border: 10px solid #474747;
                border-radius: 8px;
                // z-index: 1;
                margin-right: 15px;
            }
        }
    }

    // should be:
    //      @media (min-width: var(--bs-breakpoint-md)) {
    //      -> doesn't work because --bs-breakpoint-md attached to :root,
    //      while media query isn't
    @media (min-width: 768) {
        .project:nth-of-type(3) {
            margin: 15px 25% !important;
        }
    }
}
