#skills {
    background-color: var(--background-color-1);

    .skill {
        font-size: large;
        .skill-icon {
            font-size: 180%;
            // color: white;
            text-align: center;
            position: relative;
        }
        .proficiency-indicator {
            width: 100%;
            height: 2em;
            background-color: var(--background-color-3);
            border-radius: 0.5em;
            position: relative;
            margin: 10px 0;
            .bar {
                height: 100%;
                position: absolute;
                border-radius: 0.5em;
                left: 0;
                top: 0;
                background-color: var(--text-color);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--background-color);
                span{
                    padding: 4px;
                }
            }
        }
    }
}
