#skills {
    background-color: var(--background-color-1);

    .skill {
        // cursor: pointer;
        font-size: large;
        .skill-icon {
            // color: white;
            text-align: center;
            position: relative;
        }
        .proficiency-indicator {
            width: 100%;
            height: 2em;
            background-color: var(--background-color-2);
            border-radius: 0.5em;
            position: relative;
            margin-top: 10px;
            .bar {
                height: 100%;
                position: absolute;
                border-radius: 0.5em;
                left: 0;
                top: 0;
                background-color: var(--text-color);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--background-color);
                .name{
                    padding: 4px;
                }
                .percentage{
                    position: absolute;
                    right: 0;
                    transform: translateX(calc(100% + 10px));
                }
            }
        }
    }
}
