body[data-theme="light"] {
    @import '../light-slider.scss';

    --background-color: #e9d5a1;
    --text-color: black;
    --contrast-color: #eb5f31;

    .slider-tab {
       background-color: #D7CAAA;
    }
}