body[data-theme="dark"] {
  --background-color: #061438;
  --text-color: #eef4ed;
  --text-color-dim: #c7c3c3;
  --background-color-1: #19243f;
  --background-color-2: #2c374e;
  --contrast-color: #eb5f31;
  --matrix-rain-color: #0aff0a;

  section {
    filter: brightness(85%);
  }

  color: var(--text-color);
}
