body[data-theme="dark"] {  
   --background-color: #061438;
   --text-color: #eef4ed;
    --background-color-1: color-mix(in srgb, var(--background-color) 90%, var(--text-color));
    --background-color-2: color-mix(in srgb, var(--background-color) 80%, var(--text-color));
    --background-color-3: color-mix(in srgb, var(--background-color) 70%, var(--text-color));
   --contrast-color: #eb5f31;
   section{
      filter: brightness(85%);
   }

   color: var(--text-color);
}