@import "../src/scss/themes/theme-dark.scss";
@import "../src/scss/themes/theme-light.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}
body,
section {
    color: var(--text-color);
    background-color: var(--background-color);
    padding-bottom: 4%;
}

.font-trebuchet {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

section h1 {
    padding-top: 4%;
    padding-bottom: 3%;
    margin-bottom: 0;
    font: 24px/28px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-color);
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fancy-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
}
.fancy-title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: var(--text-color);
}

.fancy-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: var(--text-color);
}
