@use "../src/scss/themes/theme-dark.scss";
@use "../src/scss/themes/theme-light.scss";
@use "./scss/animations";
@use "./scss/grid";
@use "./scss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&family=Space+Grotesk:wght@400;600;700&display=swap");

html {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
section {
    color: var(--text-color);
    // background-color: var(--background-color);
    padding-bottom: 4%;
    overflow: hidden;
}

.font-trebuchet {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

section h2 {
    padding: 0.5em;
    margin-bottom: 1.5em;
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(22px, 3.5vw, 38px);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-color);
    text-align: center;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 2px;
        height: 5px;
        width: 0;
        background-color: var(--contrast-color);
        animation: h2-underline-grow 0.6s cubic-bezier(0.16, 1, 0.3, 1) 0.2s forwards;
    }
}

@keyframes h2-underline-grow {
    to { width: 55px; }
}

@media (prefers-reduced-motion: reduce) {
    section h2::after {
        animation: none;
        width: 55px;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fancy-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 5px;
    position: relative;
    margin: 20px 10px;
    display: inline-block;
}
.fancy-title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: var(--text-color);
}

.fancy-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: var(--text-color);
}

#error-message {
    background-color: var(--background-color);
}

.svg-background{
    position: absolute;
    // aspect-ratio: 900/600;
    // width: 100%;
    // height: 100%;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    z-index: -1;
    // svg{
    //     width: 100%;
    //     height: 100%;
    //     g{
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
}