@import "../src/scss/themes/theme-dark.scss";
@import "../src/scss/themes/theme-light.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}
body{
    color: var(--text-color);
}

.font-trebuchet {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

section h1{
    padding-top: 5%;
    padding-bottom: 3%;
    font: 24px/28px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-color);
    text-align: center;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}