footer {
    background: var(--background-color);
    min-height: 100px;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: var(--text-color);
    position: relative;
    text-align: center;

    a,
    a:visited {
        color: var(--text-color);
    }

    a:hover,
    a:focus {
        color: var(--text-color);
    }

    .social-links {
        margin-top: 20px;
        font-size: 22px;
    }
}
footer::after   {
    content: '';
    background: linear-gradient(to right, transparent 10%, var(--text-color), transparent);
    height: 2px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
