.language-container {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 20;
}
.language {
    position: sticky;
    top: 20px;
    font-size: 25px;
    padding-bottom: 10px;
    display: flex;
}

.language-icon {
    font-size: 50px;
    cursor: pointer;
    margin: auto 10px;
}
.flag-container{
    filter: brightness(40%);
}

.flag-container.active {
    filter: none;
}

@media (max-width: 687px) {
    .language-container {
        right: 70px;
    }

    .language-icon {
        font-size: 30px;
        margin: auto 5px;
    }
}
