.language-icon.active {
    filter: none;
}

.language-container {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
}
.language {
    position: sticky;
    top: 20px;
    font-size: 25px;
    padding-bottom: 10px;
}

.language-icon {
    font-size: 50px;
    cursor: pointer;
    margin: auto 10px;
    filter: brightness(40%);
}
