$orientation-breakpoint: 687px;
$sidebar-dim: clamp(50px, 10%, 100px);

.sidebar-clean {
	position: fixed;
	left: 0px;
	top: 0px;
}

.sidebar {
	width: $sidebar-dim;
	height: 100vh;
	position: fixed;

	left: 0px;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: medium;
	color: var(--text-color);
	z-index: 10;
	.logo img {
		font-size: 150%;
		width: clamp(20px, 2em, 65px);
		margin-top: clamp(10px, 3vh, 50px);
	}
	.link-container {
		display: flex;
		flex-direction: row-reverse;
		writing-mode: sideways-lr;
		margin-top: clamp(10px, 50%, 500px);
	}
	.section-label {
		margin: 10px;
		font-size: 120%;
		text-decoration: none;
		color: var(--text-color);
	}
	.section-label.active {
		color: var(--contrast-color);
		font-size: 125%;
	}
	@media (max-width: $orientation-breakpoint) {
		width: 100vw;
		max-height: $sidebar-dim;
		flex-direction: row;
		align-items: center;
		// background-color: var(--background-color);
		max-height: $sidebar-dim;
		.link-container {
			writing-mode: horizontal-tb;
			margin-top: 0;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			opacity: 0;
			margin-top: $sidebar-dim;
			// 
			// for now: make it disappear
			// 
			display: none;
		}
		.link-container.active {
			opacity: 1;
		}

		.logo {
			position: fixed;
			top: 10px;
			left: 10px;
			img {
				margin-top: 0;
				height: 100%;
			}
		}
	}
}
